.hidden { /* Lets a class be added or removed to hide/show items. */
    display: none;
}

.cols { /* Default class for 2 columns. */
    column-count: 2;
}

.cols .break { /* Try to keep a set of things together in a column. */
    break-inside: avoid-column;
    break-after: column;
}

img {
    position: relative;
	max-width: 100%;
    max-height: 50vh;
    box-shadow: 5px 5px 10px #000000;
    margin: 0.75em 0.5em
}

#story-caption img {
    margin: 0.75em 0em
}

.passage {
    line-height: 1.5;
}

#ui-bar-body {
    scrollbar-gutter: stable;
}