html.library #ui-bar {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 17.5em;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: left 200ms ease-in;
    color: #002500;
    background-color: ghostwhite;
    border-right: none;
    box-shadow: 0px 0px 10px 5px #000000;
}
html.library #ui-bar-body {
    margin-top: 3em;
    scrollbar-color: darkgreen transparent;
}
html.library #ui-bar.stowed {
	left: -15.5em;
}
html.library #ui-bar-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: darkgreen;
    padding: 0.3em 0.55em 0.25em 0.45em;
    margin-top: 0.25em;
    box-shadow: none;
    border-radius: 50%;
}
html.library #ui-bar-toggle:hover {
    color: ghostwhite;
    background-color: darkgreen;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #000000;
}
html.library #ui-bar-history [id|="history"] {
    padding-top: 0.25em;
    margin-bottom: 0.25em;
    background-color: darkgreen;
    border: none;
    border-radius: 0px;
    box-shadow: 2px 2px 5px #000000;
}
html.library #ui-bar-history [id|="history"]:hover {
    border: none;
    background-color: green;
} 
html.library #ui-bar-history [id|="history"]:disabled {
    color: ghostwhite;
    border: none;
    background-color: gray;
}
html.library #story-title {
    margin-top: 0.5em;
    font-size: 125%;
    padding-left : 0.15em;
    padding-right : 0.15em;
}
html.library #story-subtitle {
    padding : 0.15em;
    font-size: 115%;
}
html.library #menu ul {
    margin: 1em 0 0;
    padding: 0;
    list-style: none;
    background-color: darkgreen;
    border: none;
    overflow:hidden;
    box-shadow: 5px 5px 10px #000000;
}
html.library #menu li:not(:first-child) {
    border: none;
}
html.library #menu li {
    background-color: green;
    border: none;
}
html.library #menu li:hover {
    background-color: green;
    border: none;
}
html.library #menu li a {
    background-color: darkgreen;
    border: none;
}
html.library 
#menu li a:hover {
    background-color: green;
    border: none;
}